*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}
.container{
    background-color: azure;
    padding: 2rem;
    border-radius: 2rem;

}
form{
    margin: 2 rem;
}
form input,select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

